/* fonts */
@font-face {
    font-family: Aldrich;
    src: url('../fonts/Aldrich-Regular.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: "03スマートフォントUI";
    src: url('../fonts/03SmartFontUI.ttf') format('truetype');
}


/* main */
* {
	margin: 0;
	padding: 0;
	font-family: Aldrich, "03スマートフォントUI";
	font-weight: normal;
	font-size: 10pt;
	outline: none;
}
body {
	width: 90%;
	margin: 0 auto;
	background: #001;
	color: #748798;
	text-shadow: 0 0 5px #217cfc;
	line-height: 1.75em;
}

header {
	margin: 1em 0;
}
	header h1 {
		color: #CCD;
		font-size: 25pt;
		line-height: 1.2em;
		border-bottom: 1px solid #1C6EE1;
	}

main {
}
	section {
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHUlEQVQYV2NkIBIwCqo4/SdGLSMxikBqRk3EG1IAyqMHWbnQ9eoAAAAASUVORK5CYII=);
		padding: 1em;
		margin-bottom: 1em;
		box-shadow: 0 0 5px 0px #3777CE;
	}
	article {
		margin-bottom: 0.5em;
		word-wrap: break-word;
	}
	input, select {
		border: none;
		background: #001;
		box-shadow: 0 0 5px 0px #217cfc;
		padding: 0.2em;
		margin: 0.2em 0.5em;
		color: #CCC;
		text-align: center;
		border-radius: 5px;
		max-width: 500px;
	}
	select {
		padding: 0.2em 0.5em;
		outline: none;
	}
	input:focus, select:focus {
		box-shadow: 0 0 10px 0px #217cfc;
	}
	main h2 {
		color: #84B8E5;
		margin-bottom: 0.5em;
		border-bottom: 1px solid #666;
		font-size: 15pt;
	}
	main ul {
		margin: 0.5em 0;
		font-size: 9pt;
		color: #9dc8ef;
		list-style: none;
		text-indent: 1.5em;
	}
		main ul li {
			margin-bottom: 1em;
		}
		main .qimgs {
			display: block;
			margin: 1em auto;
			max-width: 45%;
			max-height: 45%;
		}
footer {
	text-align: center;
	color: #CCC;
}
	footer p {
		font-size: 7pt;
	}

	footer button {
		border: 3px solid #217cfc;
		border-radius: 50%;
		width: 35px;
		height: 35px;
		font-size: 12pt;
		font-weight: bold;
		color: #217cfc;
		background: #002;
		box-shadow: 0 0 10px 0px #217cfc;
		opacity: 0.5;
		transition: 0.3s;
		cursor: pointer;
		position: fixed;
		right: 10px;
	}
	footer button:hover {
		opacity: 1.0;
	}
		footer button span {
			position: absolute;
			right: -150px;
			width: 120px;
			transition: 0.3s;
			opacity: 0.0;
		}
		footer button:hover span {
			right: 25px;
			opacity: 1.0;
			text-shadow: 0 0 5px #217cfc;
		}
	#btn-up {
		bottom: 10px;
	}
	#btn-clear {
		bottom: 65px;
	}
	#btn-revail {
		bottom: 120px;
	}
